*{
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  margin: 100px;
  width: 300px;
  height: auto;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgb(214, 214, 214);


  /* background-color: aqua; */
}

.card> img{
  border-radius: 12px;
  width: 100%;
}
.title{
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price{
  color:  rgb(247, 111, 14);
}
h5{
  font-weight: 400;
  color: rgb(101, 101, 101) ;
}
.quantityButton{
  margin-top: 24px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quantity{
  border: 1px solid rgb(101, 101, 101);
  width: fit-content;
  padding: 4px 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.quantity>img{
  width: 20px;
  height: 20px;
}
button{
  padding: 12px 30px;
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(247, 111, 14);
}